<div class ="row login-background">
  <div class="col-md-10 col-sm-10 col-lg-5 login-area">
    <div class="row login-titleArea">
      <img src="https://lh3.googleusercontent.com/ZubNhl8gJVP_PlSFX_DXobDRYR67KoELTfaqH3HO9H5DhioNmVlhH5uGWJrA6AmOSB-tZPgGLRIrgqcPUQ6qK2ZnPGL2_SeoDs2xsPVnwtb7_yVeeHvfGuigeY-SAnlJpz2ytGKjE76WSUfjTFa97hJJrQzY3aRCwYlJZ_e78BdZpi5OHdsexJ0dahPwsK6kL0c5MDCk0jW0aNpT0Yys2VBYFZhtHZ0IBsolHSgoJwiO7XbtNNj4vzzQq_S87PUnI3Z4ZfXJi-HHNypCmaI45TXLuM6k_lp7z77-Vy-BjwmZnY3S7--xEr10Wr2knwHZBvEThxJGmnBNmpv-A1v1J5nc7gzZHI1HzqBDW1Vq4latjsoW2LHn5uf7kttkYcRDlWierPtnPRA1HG1IGY9vy3spuTNe8iHu9MmMdRmBEJ0RFLg5D4lKaXa5ja3XHE-QT-ff-9Xvk02SiRXPGwk3QCJDD-CJkbH3VaStUd5qwgpK87SRVX_JxBoNIttTIK9L6PWRGW6zMnNfnO2C3QuQKIBNHmmgF0R9_Nz2zhQ2yPU72jolOZW5N-OXmhthOyERNPIoametGv_u41_aLh84u9e52RFtHXqwyxQ8iYI=w499-h635-no" class="login-icon">
    </div>
    <div class="row" style="padding: 15px;">
      <div class="col-md-12">
        <form #f="ngForm" (ngSubmit)="onSingin(f)" >
          <div class="form-group col-md-12">
            <label for="code">Codigo de Usuario</label>
            <input type="text" class="form-control" name="code" id="code" aria-describedby="codeHelp" placeholder="Digite o Codigo" ngModel>
          </div>
          <div class="form-group col-md-12">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Senha" ngModel>
          </div>

          <br>
          <button type="submit" class="btn btn-outline-dark login-button btn-block btn-lg">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
