<co-menu></co-menu>
  <div [ngClass]="open ? opened : closed">
    <div class="row menu-area" style="width: 100%">
      <mat-icon class="menu-icon" (click)="changeOpt()"	>reorder</mat-icon>
      <mat-icon *ngIf="!carsMenu" (click)="changeCarMenu()" class="menu-icon" style="float: right; margin-right:25px" >directions_car</mat-icon>
      <mat-icon *ngIf="carsMenu" (click)="changeCarMenu()" class="menu-icon-open" style="float: right; margin-right:25px">directions_car</mat-icon>
    </div>
    <div class="col-md-12 data-area">
      <div class="row" style="margin-right: 10px" >
      <div class={{mapClass}}>
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker *ngFor="let car of vehiclesToShow" [latitude]="car.last_west_coord" [longitude]="car.last_south_coord" iconUrl="assets/img/Cinema-Batman-New-icon.png"></agm-marker>
        </agm-map>
      </div>
      <div class="col-md-2 cars-area" *ngIf="carsMenu">
        <div class="row car-title">
          <h1>Carros</h1>
        </div>
          <div class="row car-object" *ngFor="let vehicle of vehicles">
            <mat-checkbox color="primary" id={{vehicle.id}} value={{vehicle.id}} (change)="addPoint(vehicle.id)" >{{vehicle.name}}</mat-checkbox>
          </div>
      </div>
      </div>
    </div>
</div>
