<menu-nav></menu-nav>
<router-outlet></router-outlet>
<!--<mat-toolbar class="toolbar">-->
  <!--<mat-icon class="menu-icon" (click)="changeOpt()"	>reorder</mat-icon>-->
  <!--<h1>Frota Inteligente</h1>-->
  <!--<mat-icon class="menu-icon">directions_car</mat-icon>-->
<!--</mat-toolbar>-->
<!--<co-menu></co-menu>-->
<!--<div [ngClass]="open ? opened : closed">-->
  <!--<div class="row menu-area">-->
    <!--<mat-icon class="menu-icon" (click)="changeOpt()"	>reorder</mat-icon>-->
  <!--</div>-->

<!--</div>-->
<!--<div class="col-md-12 data-area">-->
  <!--&lt;!&ndash;<router-outlet name="inside"></router-outlet>&ndash;&gt;-->
  <!--teste-->
<!--</div>-->
